@import "../../../assets/theme/_var.scss";

.loader {
    position: fixed;
    width: 100vw;
    height: 100vw;
    // min-height: 100vh;
    background-color: $base;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    z-index: $websiteLoader;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    h2 {
        font-size: 60vh;
        font-weight: 800;
        color: $base2;
    }
}