@import "./assets/theme/_var.scss";

body {
  font-family: $font;
  background-color: $layout;
  text-transform: uppercase;

  button {
    text-transform: uppercase;
  }
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6,
p {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

img,
svg,
canvas,
video {
  max-width: 100%;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

::-webkit-scrollbar {
  display: none;
}